body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* deixando um item debaixo do outro */
    flex-direction: column;
    color: rgb(5, 95, 5);
    font-family: 'Spicy Rice', cursive;
    font-size: 2.5r em;
}